.positive, .negative {
    width: 25px;   
}

.admin-userRoles-table-container {
    text-align: center;
    margin: auto;
    padding-top: 30px;
}

.admin-userRoles-table  {   
    width: 100%;
    border-collapse: collapse; 
    text-align: center;
    font-size: medium;     
}

.admin-userRoles-table thead {
    background-color: #24aae1;
    color: white;
}

.admin-userRoles-table tbody {
    height: 40px;
}

.admin-userRoles-table tbody tr:nth-child(even){    
    background-color: #e7ebf1;  
}

.admin-userRoles-table tbody tr:nth-child(odd){
    background-color: #dedede; 
}