.pilot-panel-container{
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 10px;    
}

.pilot-flight-table {
    margin-top: 20px;
    text-align: left;
    width: 100%;
    border-collapse: collapse;    
}

.pilot-flight-table thead {
    height: 30px;
    background-color: #24aae1;
    color: white;
}

.pilot-flight-table tbody {
    height: 30px;    
    color: rgb(0, 0, 0);
}

.pilot-flight-table th {
    text-align: center;    
    height: 10px;
    font-size: medium;    
}

.pilot-flight-table td {
    width: 100px;
    text-align: center;    
    height: 50px;
    font-size: medium;    
}

.pilot-flight-table tbody tr:nth-child(even){
    background-color: #e7ebf1;  
}

.pilot-flight-table tbody tr:nth-child(odd){
    background-color: #dedede; 
}