.register-component {
	display: flex;
	flex-direction: column;
	align-items: center;
    font-family:Arial, Helvetica, sans-serif;

}

.main-title {
	font-size: 30px;
	font-weight: bold;
	color:#24aae1;
}

.register-form {
	/* max-width: 100%; */
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.register-input-text {
	margin: 4px;
	padding: 14px;
	border-radius: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: darkgrey;
	width: 100%;
    /* width: 300px; */
    font-size: large;
}

.register-input-text:focus {
	outline: none;
	border-style: solid;
	border-width: 1px;
	border-color: #24aae1;
	box-shadow: 1px;
}

.register-button {  
	margin: 20px;
	padding: 14px;
	border-radius: 8px;
	border-color: darkgrey;
	width: 100%;  
    /* width: 800px;   */
	border-style: none;
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	background-color: #24aae1;
	color: white;
}
.register-button:hover {
	background-color: rgb(0, 53, 187);
}

.register-errors {
	color: red;
}

.register-input-text::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(106, 106, 106);
	opacity: 1; /* Firefox */
}

.register-input-text:focus::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(180, 180, 180);
	opacity: 1; /* Firefox */
}

.line {
	width: 300px;
}