.tour-locations-table-container {
    text-align: center;
    margin: auto;
    padding-top: 30px;    
}

.tour-locations-table  {   
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse; 
    text-align: center;
    font-size: medium;     
}

.tour-locations-table thead {
    background-color: #24aae1;
    color: white;
}

.tour-locations-table th {
    height: 25px
}

.tour-locations-table td {
    height: 35px
}

.tour-locations-table tbody tr:nth-child(even){    
    background-color: #e7ebf1;  
}

.tour-locations-table tbody tr:nth-child(odd){
    background-color: #dedede; 
}